body {
    background-color: #ffc0cb;
    font-family: Arial, sans-serif;
    color: #5f5f5f;
    margin-right: 30px;
    margin-left: 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }
  
  nav a {
    font-size: 18px;
    color: #5f5f5f;
    text-decoration: none;
    margin-right: 20px;
  }
  
  h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 36px;
  }
  
  p {
    margin: 20px 0;
    font-size: 18px;
    text-align: justify;
  }
  
  ul {
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    list-style-type: square;
  }
  
  img {
    width: 100%;
    height: auto;
    margin: 20px 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    height: 400px;
  }
  .images{
    display: flex;
    justify-content: space-around;
  }
  .image{
    width: 40%;
    text-align: center;
  }